<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password - CRM App</title>
    <style>
      body {
        min-height: 100vh;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .container div {
        margin-bottom: 1rem;
      }

      .form-control {
        display: flex;
        flex-direction: column;
      }

      .form-control label {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .form-control input {
        width: 300px;
        padding: 8px;
      }

      .submit-btn {
        text-align: center;
      }

      .submit-btn button {
        padding: 8px 16px;
        font-weight: bold;
        cursor: pointer;
      }

      button:hover,
      button:active {
        opacity: 0.75;
      }
    </style>
  </head>
  <body>
    <header style="text-align: center">
      <h1>Password Reset form</h1>
    </header>
    <main>
      <div class="container">
        <form action="" method="POST">
          <div class="form-control">
            <label for="password">New Password</label>
            <input
              type="password"
              placeholder="Enter new password"
              name="password"
              required
            />
          </div>
          <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              placeholder="Enter confirm Password"
              name="confirmPassword"
              required
            />
          </div>
          <div class="submit-btn">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
